<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:th.value="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registeration Form</title>
</head>
<body>
<form action="#" th:action="@{/view/confirm}" method="post" th:object="${trainer}">
    Trainer id: <input th:field="*{id}" type="number" placeholder="Enter Trainer id" /><br>
    Trainer Name : <input th:field="*{name}" type="text" placeholder="Enter Trainer name" /><br>
    <select th:field="*{state}">
        <option th.value:"tamilnadu">Tamil Nadu</option>
        <option>Andhra pradesh</option>
        <option>Telugana</option>
        <option>Karnataka</option>
        <option>kerala</option>
    </select>
    <button type="submit">Submit</button>
</form>


</body>
</html>